name: Test

on:
  pull_request:
    branches:
      - development
      - master

  push:
    branches:
      - development
      - master

jobs:
  build:
    timeout-minutes: 20
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '14.17.0'

      - name: Setup module dependencies cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install module dependencies
        run:  yarn install --frozen-lockfile

      - name: Lint javascript
        run: yarn lint:js

      - name: Lint styles
        run: yarn lint:styles

      - name: Lint types
        run: yarn lint:types

      - name: Lint commits
        uses: wagoid/commitlint-github-action@v4
        with:
          configFile: .commitlintrc.js
      
      - name: Bundle
        run: yarn bundle
